#login_box {
	height: 50px;
    width: 60%;
    margin: 0 auto;
	padding: 20px;
    position: relative;
}

input{
	margin: 10px;
	padding: 5px;
	width: 20%;
	height: 30px;
	border-radius: 5px;
}

button {
	padding: 10px;
	margin: 10px 10px ;
	font-size: 1.1em;
	border-radius: 5px;
}

body{
     margin:0;
     background-color:whitesmoke;
     padding: 0;
 }
#gameContainer{
    margin:auto;
    position:relative;
    top: 50px;
    padding: 0;

}
.highScores{
    float: right;
    margin: 20px;
    width: 20%;
    height: 40%;
/*            border: 2px solid black;*/
}
.leaderboard{
    float: left;
    margin: 20px;
    height: 40%;
    width: 20%;

}

