body{
    background-color: red;
    margin: 0;

}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	height: 100%;
	width: 100%;
	display: none;

}

#login_box {
	height: 400px;
	width: 350px;
	margin: 10% auto;
	position: relative;
	z-index: 10;
	background: #999;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
	display: none;
}

input{
	margin: 10px auto;
	display: block;
	padding: 5px;
	width: 70%;
	height: 30px;
	border-radius: 5px;
}

button {
	padding: 10px;
	margin: 10px 10px ;
	font-size: 1.1em;
	border-radius: 5px;
}


